@{
    ViewBag.Title = "Tests samples - Jasmine";
}
<h1>Writing JS tests using Jasmine</h1>
<p>
    A sample unit tests written in Jasmine for Calculator module. It's very simple calculator with two mathematical functions but that's not important here. More
    important are the tests, what to test and how to use Jasmine for it. You have multiple options how to run the tests.
</p>

@section styles
{
    @Styles.Render("~/themes/default/jasmine")
}
@section scripts
{
    @Scripts.Render("~/js/jasmine")
}
