@{
    ViewBag.Title = "Tests samples - QUnit";
}
<h1>Writing JS tests using QUnit</h1>
<p>A sample unit tests written in QUnit for Calculator module. It's very simple calculator with two mathematical functions but that's not important here. More
    important are the tests, what to test and how to use QUnit for it. You have multiple options how to run the tests.</p>

<div id="qunit"></div>
<div id="qunit-fixture"></div>

@section styles
{
    @Styles.Render("~/themes/default/qunit")
}
@section scripts
{
    @Scripts.Render("~/js/qunit")
}