@{
    ViewBag.Title = "Learning";
}
<h1>Introduction to JavaScript</h1>
<p>
    A piece of javascript code that shows all javascript's beauty, best practises, what to use and how to use. This is must read for C# developers which come to
    first contact with JavaScript to avoid some common mistakes all C# developers are doing during the first month with JavaScript.
</p>

<pre id="console">
</pre>

@section scripts
{
    @Scripts.Render("~/js/learning")
}
